<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/node_modules/bootstrap/dist/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/stylesheets/github-light.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/stylesheets/print.css" media="print">
    <script type="text/javascript" src="{{ site.url }}/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Baiyangcao by baiyangcao</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1><a href="{{ site.url }}">Baiyangcao</a></h1>
        <h2>A dobe Programmer</h2>
        <ul class="nav nav-pills">
          <li><a href="{{ site.url }}/cv.html">CV</a></li>
          <li><a href="{{ site.url }}">Blog</a></li>
        </ul>
        <a href="https://github.com/baiyangcao" class="button"><small>Follow me on</small> GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        {{ content }}
      </div>
    </div>

  
  </body>
</html>
