---
layout: blog
---

<link rel="stylesheet" type="text/css" href="{{ site.url }}/stylesheets/syntax.css">

<ol class="breadcrumb">
    <li><a href="{{ site.url }}">首页</a></li>
    <li class="active">{{ page.title | truncate: 20, '...' }}</li>
</ol>

<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
    {{ content }}
</div>

<nav aria-label="Page navigation">
  <ul class="pager">
    {% if page.next %}
        <li class="previous"><a href="{{ page.next.url }}"><span aria-hidden="true">&larr;</span> {{ page.next.title | truncate: 20, '...' }}</a></li>
    {% else %}
        <li class="previous disabled"><a href="#"> <span aria-hidden="true">&larr;</span> </a></li>
    {% endif %}

    {% if page.previous %}
        <li class="next"><a href="{{ page.previous.url }}">{{ page.previous.title | truncate: 20, '...' }} <span aria-hidden="true">&rarr;</span></a></li>
    {% else %}
        <li class="next disabled"><a href="#"> <span aria-hidden="true">&rarr;</span> </a></li>
    {% endif %}
  </ul>
</nav>
